.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__navegacao{
    display: flex;
    gap: 30px;

}
.cabecalho__link{
    text-decoration: none;
    color: green;
}

.sec-alternada{
    margin: 10rem;
}

.sec-alternada__img{
    border-radius: 2rem;
}