.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__navegacao{
    display: flex;
    gap: 30px;

}
.cabecalho__link{
    text-decoration: none;
    color: green;
}

.sec-alternada{
    align-items: center;
    margin: 8rem;
    text-align: center;
}

.sec-alternada__img{
    border-radius: 2rem;
}


.rodape2{
    padding-top: 5%;
}
.direitos{
    padding-top: 12px;
}


